
/* HEADER */
#header{
    border:0;
    background-color: #dffffd;
    width: 100%;
}
#comments{
    border:0;
    background-color: #dffffd;
    width: 100%;
}

.logo{
    width:40%;
}

.textLogo{
    width: 60%;
    font-style: italic;
    margin-top: 5%;
}

/* MENU */
#menu{
    background-color: #87fff5;
    width:100%;
}


#container{
    width: 100%;
    border:0;
    background-color: #dffffd;
}

/* CONTENT */
.contentIndex{
    background-color: #dffffd;
    width: 75%;
    text-align: center;
    margin-left: 1%;
}
.article{
    width:100%;
}
.similarArticles{

}

/* SIDEBAR */
.sidebar{
    float:right;
    width: 25%;
    background-color: #dffffd;
    margin-top: 25%;
}


/* CATHEGORY */
.articleCategory{
    background-color: #ffffdf;
    width: 75%;
    text-align: center;

}

/* FOOTER */
#footer{
    width: 100%;
    background-color: #ffd8a6;
    text-align: center;

}

.copyright{
text-align: center;
    font-small: blue;
    background-color: #16ff36;
}

/* afisare imagini incarcate */
#content{
    width: 50%;
    margin: 20px auto;
    border: 1px solid #cbcbcb;
}
form{
    width: 50%;
    margin: 20px auto;
}
form div{
    margin-top: 5px;
}
#img_div{
    width: 80%;
    padding: 5px;
    margin: 15px auto;
    border:1px solid #cbcbcb;
}
#img_div:after{
    content:"";
    display: block;
    clear: both;
}
img{
    float:left;
    margin:5px;
    width: 300px;
    height: 140px;
}